@charset "utf-8";
@import "normalize";

* {
  margin: 0;
  padding: 0;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$sidebarWidth: 20%;
$gutterWidth: 25px;

$headingFont: "Akkurat";


[class*='col-'] {
  float: left;
  padding: $gutterWidth/2;
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

.col-3-3 {
  width:100%;
}

.row {
  width: 100%;
  clear: both;
  overflow: hidden;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  width: $sidebarWidth;

  padding: 25vh 2vw $gutterWidth;

  //background: #faf5f0;

  img {
    width: 100%;
    margin-bottom: $gutterWidth/2;
  }

  nav a {
    display: list-item;
    text-decoration: none;
    list-style-type: none;

    color: black;

    font-family: $headingFont;
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 300;
  }
}

main {
  position: absolute;
  top: 0;
  left: $sidebarWidth;
  right: 0;

  padding: 5vh 4vw;

  .header {
    height: 40vh;

    .details {
      padding: 0 2vw;
    }

    display: table;

    text-align: center;

    background-position: center;
    background-size: cover;

    h1 {
      display: table-cell;
      vertical-align: middle;

      font-family: $headingFont;
      font-weight: 300;
    }
  }

  .card {

    width: 100%;

    height: 40vh;

    &.no-min-height {
      height: auto;
    }

    position: relative;

    h1 {
      font: 300 2rem $headingFont;
    }

    h2 {
      font: 300 1.3rem $headingFont;
    }

    p {
      font: 300 1.1rem $headingFont;
      margin-bottom: $gutterWidth;
    }

    .card-bg {
      height: 100%;
      width: 100%;
      position: relative;

      background-position: center;
      background-size: cover;
    }

    .details {
      color: white;

      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      display: table;

      h1 {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }

}

[class*='bg-']::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}

.bg-blue::after {
  background-color: rgba(0,191,234,0.65);
}

.bg-green::after {
  background-color: rgba(0, 207, 125,0.5);
}

.bg-dark-blue::after {
  background-color: rgba(0, 52, 71, 0.65);
}

.bg-orange {
  background: #faae1f;
}

.white-text {
  color: white;
}