<% wrap_layout :layout do %>
    <main>
      <header>
        <% if defined? current_page.data.title %>
              <div class="card header bg-orange">
                <div class="details">
                  <h1><%= current_page.data.title %></h1>
                </div>
              </div>
        <% end %>
      </header>
      <article>
        <div class="row">
          <div class="<%= defined?(current_page.data.image) ? 'col-2-3' : 'col-3-3' %>">
            <%= yield %>
          </div>
          <% if defined? current_page.data.image %>
              <img src="<%= current_page.data.image %>" class="col-1-3" />
          <% end %>
        </div>
      </article>
    </main>
<% end %>