<% wrap_layout :layout do %>
    <main class="half-padding">
      <% if defined? current_page.data.title %>
          <div class="col-3-3">
            <div class="card header bg-orange">
              <div class="details">
                <h1><%= current_page.data.title %></h1>
              </div>
            </div>
          </div>
      <% end %>
      <div class="row">
          <div class="<%= defined?(current_page.data.image) ? 'col-2-3' : 'col-3-3' %>">
            <div class="card">
              <%= yield %>
            </div>
          </div>
        <% if defined? current_page.data.image %>
            <img src="<%= current_page.data.image %>" class="col-1-3" />
        <% end %>
      </div>
    </main>
<% end %>