[class*='bg-']::after {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}

.bg-blue::after {
  background-color: rgba(0,191,234,0.65);
}

.bg-green::after {
  background-color: rgba(0, 207, 125,0.75);
}

.bg-dark-blue {
  background-color: rgba(0, 52, 71, 0.65);
}