@import "reset";
@import "bg-colours";

* {
  margin: 0;
  padding: 0;
}

$headingFont: "Akkurat";

header.main-header {

  $headerHeight: 100px;
  $sidePadding: 40px;
  $navPadding: 20px;

  width: 100vw;
  height: $headerHeight;

  border-bottom: 1px solid #eeeeee;

  position: relative;

  h1 {
	font-family: $headingFont;
	font-weight: 300;
	font-size: 2.3rem;
	line-height: $headerHeight;

	margin-left: $sidePadding;
  }

  nav {
	position: absolute;
	top: 0;
	right: $sidePadding;

	li {
	  display: inline-block;
	  font-family: Akkurat;
	  font-weight: 300;
	  font-size: 1.1rem;
	  line-height: $headerHeight;

	  padding-right: $navPadding;

	  &:last-child {
		padding-right: 0;
	  }
	}
  }
}

$gutterWidth: 30px;

main {

  $paddingWidth: 15px;

  $cardHeight: 240px;

  width: 1200px;
  margin: $gutterWidth auto;

  overflow: hidden;

  header {

	margin-bottom: $gutterWidth;

	h1 {
	  font-family: $headingFont;
	  font-weight: 300;
	  font-size: 1.5rem;
	}
  }

  .row {
	width: 100%;

	.col-2-3 .card {
	  height: $cardHeight*2;
	}

	.col-1-3 .card {
	  height: $cardHeight;
	}

	.card {

	  position: relative;

	  padding-bottom: $gutterWidth;

	  h1 {
		font: 300 2rem $headingFont;
	  }

	  h2 {
		font: 300 1.3rem $headingFont;
	  }

	  .inner {
		height: 100%;
		position: relative;
	  }

	  .details {
		color: white;

		padding: $paddingWidth;

		position: absolute;
		bottom: $gutterWidth;
	  }
	}
  }
}

[class*='col-'] {
  float: left;
  padding-right: $gutterWidth;

  &:last-child {
	padding-right: 0;
  }
}

.col-1-3 {
  width: 33.33%;
}
.col-2-3 {
  width: 66.66%;
}

footer {
  width: 1200px;

  margin: $gutterWidth auto;

  overflow: hidden;

  font-family: $headingFont;

  .nav a {
	display: block;
  }

}

.card .ball {
  background-image: url("assets/ball.jpg");
  background-position: center center;
  background-size: cover;
}