---
title: BCII Connect
---
<main>
    <img class="logo" src="images/logo.jpg" alt="BCII Connect" />

    <div class="social">
        <ul>
            <li><a href="https://www.facebook.com/bciiconnect"><img src="images/social/facebook.svg" /></a></li>
            <li><a href="https://twitter.com/bciiconnect"><img src="images/social/twitter.svg" /></a></li>
            <li><a href="https://www.instagram.com/bcii_connect/"><img src="images/social/instagram.svg" /></a></li>
            <li><img src="images/social/snapchat.svg" onclick="toggleSnapcode()"/></li>
            <li><a href="http://www.linkedin.com/company/10472760"><img src="images/social/linkedin.svg" /></a></li>
        </ul>
    </div>

    <a href="https://www.activateuts.com.au/" /><img class="activate" src="images/activate.png" alt="Activate UTS logo" /></a>

    <div class="snapcode hidden">
        <img src="images/snapcode.svg" alt="Snapcode" onclick="toggleSnapcode()"/>
    </div>
    <script>
        var toggleSnapcode = function () {
            var c = document.getElementsByClassName("snapcode")[0].className;
            console.log(c)
            c.indexOf('hidden') === -1 ? c = "snapcode hidden" : c = "snapcode";
            console.log(c)
            document.getElementsByClassName("snapcode")[0].className = c;
        }
    </script>
</main>
